* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: black;
}

/* navbar section */
.navbar {
    width: 100%;
    height: 50px;
    display: flex;
    background-color: #FCAF02;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
}

.logo img {
    margin-left: 70px;
    width: 100px;
    height: 30;
}

.nav-item a {
    margin: 0px 25px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* home page section  */
.home_page {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding-top: 80px;
    padding-left: 63px
}

.home_page .image>img {
    width: 600px;
    height: 400px
}

.content h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 78px;
    color: white;
    padding-bottom: 30px
}

.content p {
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    color: white
}

.content .btn {
    background: #FCAF02;
    border-radius: 500px;
    padding: 15px 100px;
    color: black;
    font-weight: 700;
    font-size: 25px;
    line-height: 39px;
    border: none;
    margin-top: 40px;
    margin-bottom: 80px;
}

/* contact us */
.form_control input {
    width: 93%;
    border: 2px solid #FCAF02;
    border-radius: 100px;
    height: 50px;
    outline: none;
    margin-bottom: 45px;
    padding-left: 20px;
    background-color: black;
}

.form_control_1 input {
    width: 43%;
    border: 2px solid #FCAF02;
    border-radius: 100px;
    height: 50px;
    outline: none;
    margin-bottom: 45px;
    margin-right: 60px;
    padding-left: 20px;
}

form {
    padding: 15px 75px;
}

.contact_us h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 78px;
    margin-bottom: 25px;
    padding-left: 75px;
    color: #FCAF02;
}

.contact_us button {
    background: #FCAF02;
    border-radius: 500px;
    padding: 15px 100px;
    color: black;
    font-weight: 700;
    font-size: 25px;
    line-height: 39px;
    border: none;
    margin-left: 460px;
    margin-top: 40px;
    margin-bottom: 80px;
}

.contact_us {
    background-color: black;
}

::placeholder {
    color: #FCAF02;
    font-size: 17px;
}

/* table */

.table {
    font-size: 17px;

    color: #FCAF02;
    padding-bottom: 60px;
}

td,
th {
    border-left: 2px solid #FCAF02;
}

tfoot td {
    border: 2px solid black;
}

table,
thead {
    width: 85%;
    margin-left: 90px;
    border: 2px solid #FCAF02;

}

table,
tr,
td,
th {


    border-collapse: collapse;
    padding: 25px;
}

tfoot {
    background-color: #FCAF02;
    border: 2px solid black;
    color: black;
}